doctype html
html
  block vars
  head
    title Froala Design Blocks - #{blockName}
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    script(src='http://localhost:35729/livereload.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    link(type='text/css', rel='stylesheet', href='./css/froala_blocks.css')
    style.
      .fdb-block {
        border-bottom: solid 1px #EEE;
      }
  body

    - var i = 1
    each blockHTML in blocks
      |
      <!-- #{blockName} #{i++} -->
      |
      | !{blockHTML}
