doctype html
html
  block vars
  head
    title Froala Design Blocks - #{blockName}
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    link(type='text/css', rel='stylesheet', href='css/froala_blocks.css')
    style.
      .fdb-block {
        border-bottom: 1px solid var(--light);
      }
  body
    include nav.html

    - var i = 1
    each blockHTML in blocks
      |
      <!-- #{blockName} #{i++} -->
      |
      | !{blockHTML}
